<div class="education__container">

    <div class="return__button__container">
        <div class="return__button__experience">
            <a href="/professional_experience">Return</a>
        </div>
    </div>

    <form class="edit__form" action="/professional_experience/{{experience._id}}/edit" method="POST">

        <div class="form__input">
            <p for="firm">Firm</p>
            <input type="text" name="firm" value="{{experience.firm}}">
        </div>

        <div class="form__input">
            <p for="position">Position</p>
            <input type="text" name="position" value="{{experience.position}}">
        </div>

        <div class="form__input">
            <p for="tech_stack">Tech Stack</p>
            <input type="text" name="tech_stack" value="{{experience.tech_stack}}">
        </div>

        <div class="form__input">
            <p for="description">Description</p>
            <textarea id="largeTextField" name="description" rows="10" cols="50">{{experience.description}}</textarea>

        <div class="form__input">
            <p for="responsibilities">Responsibilities</p>
            <textarea id="largeTextField2" name="responsibilities" rows="10" cols="50">{{experience.responsibilities}}</textarea>
        </div>

        <div class="form__input">
            <p for="startDate">Start Date</p>
            <input type="text" name="startDate" id="startDate" value="{{experience.startDate}}">
        </div>

        <div class="form__input">
            <p for="endDate">End Date</p>
            <input type="text" name="endDate" id="endDate" value="{{experience.endDate}}">
        </div>

        <div class="form__input">
            <p for="location">Location</p>
            <input type="text" name="location" id="location" value="{{experience.location}}">
        </div>

        <div class="form__input">
            <p for="firm_link">Firm Link</p>
            <input type="text" name="firm_link" id="firm_link" value="{{experience.firm_link}}">
        </div>

        <div class="form__input">
            <p for="firm_description">Firm Description</p>
            <textarea id="largeTextField3" name="firm_description" rows="10" cols="50">{{experience.firm_description}}</textarea>
        </div>  

        <button class="download-cv-button" type="submit"><i data-feather="edit"></i>Edit</button>

    </form>

</div>